
body {
    margin: 0px;
    padding: 0px;
     max-width: 1922px;
     
}

.wrapper{
   width: 1921px;
   height: 5643px;
   padding: 0px;
   margin: 0px;
}

.head-block{
    width: 1921px;
    height: 80px;
    position: sticky; 
    /* border: 1px solid black; */
    top:0px;
    display: flex;
    flex-direction: row;  
   
    
}

.head-logo{
    width: 262px; 
    height: 48px;
    margin-top: 19px;
    margin-left: 240px;
    margin-right: 190px;
}
.head-links{
    width: 538px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Inter;
    font-size: regular;
    box-sizing: border-box;
    padding: 0;
    margin-right: 320px;

}

.head-links button{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border:none;
    margin: 0px;
    padding: 0px;
}

.head-links button:focus {
    font-weight: bold;
    color: #22CCB2;
    border-bottom: 4px solid #22CCB2 ;
}

.hemen-link-button{
width:133px;
height: 44px;
background-color: #ffffff;
color: #22CCB2;
border-radius: 6px;
border: 1px #22CCB2 solid;
margin-top:19px;

}

.hemen-link-button:active{
    box-shadow:3px -3px 10px  #22CCB2;
}