
body {
    margin: 0px;
    padding: 0px;
    max-width: 1922px;
    /* margin: 0 auto;  */
}

.wrapper{
   width: 1932px;
   height: 5643px; 
   padding: 0px;
   margin: 0px;
   border: 6px solid black;
   box-sizing: border-box;
   position: relative;   
}

.head-block{
    width: 1921px;
    height: 80px;
    position: fixed; 
    border: 0 solid #fff; 
    top:0px;
    display: flex;
    flex-direction: row;  
    background-color: #ffffff;
    z-index: 999;
    margin:0px auto;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 rgba(23, 26, 31, 0.07), 0 0 2px 0 rgba(23, 26, 31, 0.12);
    background: #fff;
   
    
}

.head-logo{
    width: 262px; 
    height: 48px;
    margin-top: 19px;
    margin-left: 240px;
    margin-right: 190px;
}
.head-links{
    width: 538px;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    font-family: Inter;
    font-size: regular;
    box-sizing: border-box;
    padding: 0;
    margin-right: 320px;

}

.head-links button{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border:none;
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 162%;
    color: #565e6c;
    white-space: nowrap;
    
}

.head-links button:focus {
    font-weight: bold;
    color: #22CCB2;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 26px; */ 
    line-height: 162%;
    color: #22ccb2;
    border-bottom: 4px solid #22CCB2 ;
    padding-top: 5px;
}

.hemen-link-button{
width:131px;
height: 44px;
background-color: #ffffff;
color: #22CCB2;
border-radius: 6px;
border: 1px #22CCB2 solid;
margin-top:19px;
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
/* line-height: 26px; */ 
line-height: 162%;
padding-top: 4px;

}

.hemen-link-button:active{
    box-shadow:3px -3px 10px  #22CCB2;
}

#lnk1{
    width: 125.25px;
    height: 100%;    
}

#lnk2{
    width:116.25px;
    height: 100%;
}

#lnk3{
    width: 188.25px;
    height: 100%;
}

#lnk4{
    width: 108.25px;
    height: 100%;
}
/* Main block */
.mobile-operator-block{
    width: 100%;
    height: 644px;
     /* border: 1px solid green;  */
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top:113px;
}

#girl-pctr{
    position: absolute;
    left: 259px;  
    z-index: 3;
}

.back-block{
    width: 1442px;
    height: 526px;
    background-color: #22CCB2;
    position: absolute;
    z-index: 2;
    margin: 48px 240px 70px 240px;
    border-radius: 16px;
}

#trngl1{
    position: absolute;
    top: 0px;
    right: 0px;
}

.back-block-text{
    width:605px;
    height: 359px;
    /* border: 1px solid white; */
    position: absolute;
    z-index: 3;
    top: 120px;
    right: 171px;
    padding: 0px;
}

.bonus-header-text{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 68px; */ 
    line-height: 142%;
    color: #fff;
    width: 605px;
    height: 136px;
    margin-top: -10px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.operator-block-text{
    width: 528px;
    height: 112px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 19px;
    text-align: left;
}

.back-block-text button{
    border-radius: 6px;
    width:178px;
    height: 52px;
    margin-top: 40px;
}

#bttn1{
    background-color:white ;
    margin-right: 34px;
    border: 1px solid white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */ 
    line-height: 156%;
    color: #171a1f;
    text-align: center;
    padding-top: 3.5px;
}

#bttn1:active{
    box-shadow:0px 0px 10px 5px #91f3fa;
}

#bttn2{
    background-color: #22CCB2;
    border: 1px solid white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */ 
    line-height: 156%;
    color: #fff;
    width: 180px;
    height: 52px;
}

#bttn2:active{
    box-shadow: 0px 0px 10px 5px white;
}

/* Bonus block */

.bonus-block{
    width: 100%;
    height: 696px;
    /* border: 1px solid blue; */
    position: absolute;
    top: 719px;
    left: 0px;
    z-index: 8;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px;
}

#trngl4{
    position:absolute;
    top: 33.54px;
    left: 39.27px;
    z-index: 9;
}

#trngl2{
    position: absolute;
    right: 0px;
    bottom: 561.79px;
    z-index: 9;
}

#trngl3{
    position: absolute;
    right: 56.25px;
    top:108.06px;
    z-index: 9;
}
.popular-bonus-header-wr{
     position: absolute;
    top: 119px;
     left: 767px;
   
}

#popular-bonus-header{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;  
    text-align: center;
    color: #323842;
    margin:0px;   
}

.bonus-card{
    border: 0px solid #bcc1ca;
    border-radius: 16px;
    width: 336px;
    height: 352px;
    margin-top: 80px;
    box-shadow: 0 0 1px 0 rgba(23, 26, 31, 0.07), 0 0 2px 0 rgba(23, 26, 31, 0.12);
    background: rgba(248, 249, 250, 0.8);
    display: flex;
    justify-content: center;
    align-items:center  ;
    flex-direction: column;
}

.bonus-card h5{
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 30px; */ 
    line-height: 150%;
    text-align: center;
    color: #323842;
}

.bonus-card p{
    width: 272px;
    height: 88px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 22px; */ 
    line-height: 157%;
    text-align: center;
    color: #565e6c;
}

#first-card{
    margin-top: 256px;
    margin-left: 240px;
}

#second-card{
    margin-top: 256px;  
    margin-left: 32px;
}

#third-card{
    margin-top: 256px;
    margin-left: 32px;
}

#fourth-card{
    margin-top: 256px;
    margin-left: 32px;
}

/* Suggestion */

.suggestion-block{
    width: 100%;
    height: 504px;
    /* border: 1px solid yellowgreen; */
    position: absolute;
    z-index: 8;
    background-color: #22CCB2;
    top: 1452px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
   align-items: center;
}

#trngl6{
    position: absolute;
    top:27.06px;
    left: 100.26px;
}

#trngl5{
    position: absolute;
    top: 103.49px;
    left: 30.96px;
}
.suggestion-block h3{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 56px; */ 
    line-height: 140%;
    text-align: center;
    color: #fff;
    width: 464px;
    height: 112px;
    margin-top: 120px;
    margin-bottom: 0px; 
}

.suggestion-block >p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */ 
    line-height: 162%;
    text-align: center;
    color: #fff;
    width: 631px;
    height: 78px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.suggestion-block button{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    width: 204px;
    height: 52px;  
    margin-top: 40px;  
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */ 
    line-height: 156%;
    color: #636ae8;
}

.suggestion-block button:active{
    box-shadow:0px 0px 10px 5px #91f3fa;
}
/* Feedback */

.feedback-wrapper{
    width: 100%;
    height: 736px;
    position: absolute;
    top: 2076px;
    /* border: 1px solid violet; */
    background-color: #F8F9FA;
    padding: 0px;
    z-index: 8;
}

.feedback-container{
    width: 1176px;
    height: 496px;
    background-color:#ffffff ;
    margin:0 auto;
    /* border: 1px solid black; */
    position: relative;
    top: 120px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.backround-img{
    width: 105.14px;
    height: 83.25px;
    position: absolute;
    top:75px;
    left: 514px;
    z-index: 8;
    border: none;
    
}

.feedback-container h3{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 56px; */ 
    line-height: 140%;
    color: #22ccb2;
    width: 326px;
    height: 112px;
    z-index: 9;
}

.feedback-card{
    width: 491px;
    height: 276px;
    z-index: 9;
    
}

#feedback-text{
    width: 100%;
    height: 180px;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;    
    /* line-height: 36px; */ 
    line-height: 150%;
    color: #565e6c;
    margin: 0px;
}

.user-card{
    margin-top: 32px;
    width: 280px;
    height: 64px;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    
}

.user-photo{
    width: 64px;
    height: 64px;
    border-radius:32px;
    margin: -1px;
    margin-right: 16px;
    padding: 0px;
}


.user-info{
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: start;
}

.user-info p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 200px;
    height: 22px;
    
    font-size: 14px;
    /* line-height: 22px; */ 
    line-height: 157%;
    color: #171a1f;
    margin: 0px;
}

.user-info h6{
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 30px; */ 
    line-height: 150%;
    color: #171a1f;
    
}

.arrows{
    width: 64px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:102px;
    right: 46px;
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}


.arrow{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    align-content: center;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Often questions */
.often-questions{
    width: 100%;
    height: 989px;
    position: absolute;
    top:2932px;
    background-color: #22CCB2;
}

#trngl7{
    position: absolute;
    right: 47.96px;
    bottom: 250.49px;
}

#trngl8{
    position: absolute;
    right: 30.25px;
    bottom: 394.06px;
}

.often-questions h3{
    width: 326px;
    height: 112px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 56px; */ 
    line-height: 140%;
    color: #fff;
    margin: 41px 1357px 0px 238px;
}

.question-block{
    width: 1440px;
    height: 636px;
    /* border: 1px solid white; */
    margin: 80px 243px 120px 238px;
    
}

.question-card{
    width: 100%;
    height: 108px;
    background-color: #ffffff;
    border-radius: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.question-card p:first-child{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 22px; */ 
    line-height: 110%;
    color: #565e6c;
}

.question-card h6{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 22px; */ 
    line-height: 110%;
    color: #565e6c;
    max-width: 335px;
}

.question-card p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 22px; */ 
    line-height: 137%;
    color: #565e6c;
   max-width: 701px; 
   text-align: left;   
}

/* Contact us */
.contact-form-block{
    width: 100%;
    height: 872px;
    position: absolute;
    top: 4041px;
    background-color: #F3F4F6;
    overflow: hidden;
}

.contact-form-block img{
    width: 615px;
    height: 810px;
    position: absolute;
    top: 62px;
    right: 346px;
    z-index: 11;
}

.contact-form-wrapper{
    width: 640px;
    height: 632px;
    background-color: #ffffff;
    border-radius: 16px;
    position: absolute;
    top: 120px;
    left: 372px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.contact-form-wrapper h5{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 56px; */ 
    line-height: 140%;
    color: #22ccb2;
    margin-top: 80px;
    margin-bottom: 0px;
}

.contact-form-wrapper p{
    width: 449px;
    height: 78px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */ 
    line-height: 162%;
    text-align: center;
    color: #565e6c;
    margin-top: 16px;
    margin-bottom: 17px;
}

.contact-form-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form-wrapper input{
    width: 479px;
    height: 51px;
    border-radius: 6px;
    background-color: #F3F4F6;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top:17px;
    margin-bottom: 0px;
    padding-left: 20px;
}

#form-bttn{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    width: 204px;
    height: 52px;
    margin-top:49px;
    background-color: #22CCB2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */ 
    line-height: 156%;
    color: #fff;
    text-align: center;
}

#form-bttn:hover{
    box-shadow: 0px 0px 10px 5px #91f3fa;
}

#tr7{
    width: 734px;
    height: 677px;
    position: absolute;
    top: 269.24px;
    right: 251.09px;
    z-index: 7;
}

#tr8{
    width: 83px;
    height: 76px;
    position: absolute;
    z-index: 7;
    top: 482px;
    right: 249.12px;
}

/* Footer */
footer{
    width: 1922px;
    height: 510px;
    position: absolute;
    bottom:0px;
    background-color: #0A7968;
    display: flex;
    flex-direction: row;
}

.footer-text{
    width: 427px;
    height: 174px;
    margin: 135px 606px 201px 137px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo-container{
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container h6{
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 48px; */ 
    line-height: 150%;
    color: #22ccb2;
    width: 202px;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

#footer-logo{
    width: 65px;
    height: 65px;
    margin: 0px 8px 0px 0px;
}

.quick-link{
    width: 140px;
    height: 226px;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 67px;
    box-sizing: border-box;
}

.quick-link h6, .contact-us h6{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 24px; 
    /* line-height: 36px; */ 
    line-height: 150%;
    color: #fff;
    margin-top: -9px;
    padding: 0px;
    margin-bottom: 12px;
}

.quick-link p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */ 
    line-height: 162%;
    color: #dee1e6;
    margin-top: 0px;
    margin-bottom: 12px;
}

.contact-us{
    width: 421px;
    height: 270px;
    border-radius: 6px;
    border: 0px solid #bcc1ca; 
    box-shadow: 0 0 1px 0 rgba(23, 26, 31, 0.07), 0 0 2px 0 rgba(23, 26, 31, 0.12);
    background: rgba(10, 121, 104, 0.5);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.contact-block{
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    margin-top: 0px;
}

.contact-block img{
    width: 24px;
    height: 24px;
}

.footer-text p, .contact-us p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 22px; */ 
    line-height: 157%;
    color: #dee1e6;
    margin: 0px;
}

.contact-us h6{
    margin-top: 30px;
    margin-bottom: 17px;
}


